# Site wide configuration

title: Basket 
locale: en_US
description: OSM use in the wild.
logo:
url: //cmdrkerfy.github.io/basket
ads: false

# Jekyll configuration

permalink:   /:categories/:title/
markdown:    kramdown
highlighter: pygments
comments: true
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..2
  use_coderay: false

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md", "vendor"]

comments: true

# Site owner
owner:
  name: Your Name
  avatar: bio-photo.jpg
  email: you@email.com
  disqus-shortname: osm-basket
  twitter: #username
  facebook: #username
  github: #username
  stackexchange: #http://stackoverflow.com/users/123456/username
  linkedin: #username
  instagram: #username
  flickr: #username
  tumblr: #username
  pinterest: #username
  weibo: #userid
  google:
    plus: #username
    analytics:
    verify:
    ad-client:
    ad-slot:
  bing-verify:
  name: 
  avatar:
  email:
  disqus-shortname: davidthorinsaeger
  twitter: 
  facebook:
  github:
  stackexchange:
  linkedin:
  instagram: 
  flickr:
  tumblr: 
  pinterest:
  weibo:
  google:
    plus: 
    analytics: UA-2011187-2
    verify: UQj93ERU9zgECodaaXgVpkjrFn9UrDMEzVamacSoQ8Y
    ad-client: ca-pub-7328585512091257
    ad-slot: 7855747535
  bing-verify: D81F4C18A6CB3018F64D7C827D953DFD
