---
layout: page
title: Stories
navid: Stories
date: 
modified:
excerpt:
image:
  feature:
search_omit: true
sitemap: false
---

<!-- Search form -->
<form method="get" action="{{ site.baseurl }}/search/" data-search-form class="simple-search">
  <label for="q">Search {{ site.title }} for:</label>
  <input type="search" name="q" id="goog-wm-qt" placeholder="What are you looking for?" data-search-input id="goog-wm-qt" autofocus />
  <input type="submit" value="Search" id="goog-wm-sb" />
</form>

<!-- Search results placeholder -->
<h6 data-search-found>
  <span data-search-found-count></span> result(s) found for &ldquo;<span data-search-found-term></span>&rdquo;.
</h6>
<ul class="post-list" data-search-results>
{% for post in site.posts limit:10 %} 
  <li>
    <article>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt }}</span>{% endif %}</a>
        <span class="entry-tags">
            {% if post.tags %}
                {% for tag in post.tags %}
                    <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="Posts tagged {{ tag }}">{{ tag }}</a>
                    {% unless forloop.last %}
                    {% endunless %}
                {% endfor %}
            {% endif %}
        </span>
    </article>
  </li>
{% endfor %}
</ul>

<!-- Search result template -->
<script type="text/x-template" id="search-result">
  <li><article>
    <a href="##Url##">##Title## <span class="entry-date">##Date##</span><span class="excerpt">##Excerpt##</span></a><span class="entry-tags">##Tags##</span>
  </article></li>
</script>
